@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #66009b;
  --color-gradient-start: #260735;
  --color-gradient-end: #2607350a;
  --color-black: #000000;
  --color-white: #fff;
  --font-quicksand: var(--font-quicksand);
  --font-manrope: var(--font-manrope);
  --font-caveat: var(--font-caveat);
  --breakpoint-xsm: 280px;
  --breakpoint-sm: 480px;

  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --breakpoint-3k: 1920px;
  --breakpoint-4k: 2568px;
}
@custom-variant smLg {
  @media (min-width: 580px) and (max-width: 768px) {
    @slot;
  }
}

@custom-variant mobile-landscape {
  @media (max-height: 480px) and (max-width: 960px) and (orientation: landscape) {
    @slot;
  }
}

@custom-variant md-landscape {
  @media (max-height: 1024px) and (max-width: 1028px) and (orientation: landscape) {
    @slot;
  }
}

@custom-variant md-portrait {
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    @slot;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  height: auto;
}
.container {
  max-width: 1200px;
  @media screen and (min-width: 12001px) {
    max-width: 1800px;
  }
}
.sm-p-text {
  font-family: var(--font-manrope);
  font-weight: 300;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0%;
  font-size: clamp(13px, 0.84vw, 16px);
}
.bold-p-text {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-style: normal;
  font-size: clamp(13px, 0.84vw, 16px);
  letter-spacing: 0%;
}
.p-text {
  font-family: var(--font-manrope);
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0%;
}

.hero-title-text {
  font-weight: 700;
  font-size: clamp(26px, 4.2vw, 80px);
  font-family: var(--font-quicksand);
  letter-spacing: -0.02em;
  margin-bottom: clamp(17px, 1.42vw, 27px);
}
.hero-label {
  font-weight: 600;
  letter-spacing: 0.25em;
  letter-spacing: -0.02em;
}

.hero-text {
  font-size: clamp(15px, 0.95vw, 18px);
  font-weight: 500;
  font-family: var(--font-manrope);
  margin-bottom: clamp(21px, 2.15vw, 41px);
  letter-spacing: 0%;
  font-style: normal;
}

.title-text {
  font-size: clamp(20px, 1.26vw, 24px);
  font-weight: 700;
  color: var(--color-black);
  margin-bottom: 0;
  font-family: var(--font-quicksand);
}
.section-title-text {
  font-weight: 700;
  font-size: clamp(25px, 2.63vw, 50px);
  color: var(--ul-black);
  margin-bottom: clamp(5px, 0.42vw, 8px);
  letter-spacing: -0.04em;
  font-family: var(--font-quicksand);
}

.btn-text {
}
.banner-title-text {
  font-family: var(--font-caveat);
  font-weight: 400;
  font-size: clamp(30px, 2.1vw, 40px);
  font-style: italic;
}

.btn {
  border: 1px solid transparent;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: clamp(13px, 0.84vw, 16px);
  position: relative;
}
.li-a {
  color: var(--color-black);
  font-size: clamp(13px, 0.84vw, 16px);
  position: relative;
}

.hero-nav {
  position: relative;
  height: 70px;

  background: white;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-nav::before,
.hero-nav::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 45px;
  height: 45px;
}

.hero-nav::before {
  top: 28px;
  left: -35px;
  transform: rotate(23);
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 0 white;
}

.hero-nav::after {
  top: 28px;
  right: -35px;
  border-bottom-left-radius: 40px;
  box-shadow: -20px 20px 0 white;
}
